<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="EventeX" />
<meta http-equiv='content-Language' content='en-US' />
<link type="image/x-icon" href="{{ STATIC_URL }}favicon.ico" rel="shortcut icon" />
 
<title>Cadastro de Fiéis</title>
 
<!--<link type="text/css" href="{{ STATIC_URL }}css/style.css" rel="stylesheet" media="screen" />-->
<link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" rel="stylesheet"  />
<link href="{{ STATIC_URL }}css/bootstrap-sticky-footer.css" rel="stylesheet" />
<link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">

<style>
    .invisivel{
        display: none;
    }

    .credit{
        margin-top: 20px;
    }
</style>
<script>

</script>


<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.0/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-tab.js"></script>


</head>
<body>
<div class="navbar">
    <div class="navbar-inner">
        <a class="brand" href="#">Marchando para o Céu</a>
        <ul class="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/cadastro">Cadastro</a></li>
            <li><a href="/admin">Admin</a></li>
        </ul>
    </div>
</div>
<div id="page">
<div id="header">
<center>
    <img src="{{ STATIC_URL }}img/logo.png" alt="Marchando para o Céu"/>
</center>
</div>
    <div id="content">
        {% block content %}
        {% endblock content %}
    </div>
</div>
</body>
</html>