{% extends 'base.html' %}
{% block content %}
<div id="content" class="container-fluid" style="text-align: left">
    <h2>Campanha</h2>
    Sua Família é o alvo do plano de Deus, portanto venham louvá-lo, adorá-lo e receber bênçãos incontáveis.
    <p />
    Ele pode tranformar seu lar em um lugar de alegria e paz.
    <p />
    Queremos convidar você para que venha cultuar conosco ao Deus Santo, e buscar em sua palavra orientações sobre a edificação de sua família

    Todos os Domingos!

</div>

{% endblock content %}