{% extends 'base.html' %}
{% block content %}
<div id="content" class="container-fluid" style="text-align: center">
    <h1>Bem-vindo ao Site de Cadastro de Fiéis!</h1>
    <p>Home de acesso ao Cadastro dos Fiéis.</p>
    <p>Através deste sistema você poderá cadastrar todos os fiéis de sua igreja</p>
    <p>Para dúvidas e mais informações entre em contato com <a href="mailto:jmarcos2702@gmail.com">jmarcos2702@gmail.com</a></p>
</div>
<br />
<div id="push"></div>
<div id="push"></div>
<div id="footer">
    <div class="container">
        <p class="muted credit">&copy; 2013. <a rel="license" href="http://projetoigreja.com.br/marchandoparaoceu/" target="_blank">Marchando para o Céu</a>, some rights reserved. <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/br/80x15.png" /></a><a href="http://www.djangoproject.com/" id="django"><img src="https://djangoproject.com/s/img/badges/djangosite100x25.gif" border="0" alt="A Django site." title="A Django site." /></a></p>
    </div>
</div>
{% endblock content %}