{% extends 'base.html' %}
{% block content %}
<div id="content" class="container-fluid" style="text-align: left">
    <h2>Institucional</h2>
    <h4>IGREJA PENTECOSTAL MARCHANDO PARA O CÉU - IPMC</h4>
    Fundada em 1990, pelo Pastor Presidente Sebastião Alves Barbosa Sobrinho, tendo seu Vice-Presidente Pastor Ildinho Teodomiro Alves (Pr. Edinho), com SEDE situada à Praça Juscelino Kubitschek, 14 no Bairro Bela Vista – Guarulhos – SP.
    Nos últimos dois anos a IPMC têm passado por um processo de mudança, objetivando crescimento em todos os sentidos e focando principalmente a Pregação da Palavra de Deus com eficiência e deixando de lado as coisas naturais do homem, sem perder a unção e o movimento pentecostal na qual o ministério nasceu.
    A IPMC passou por várias críticas, porque deixamos de pregar usos e costumes, pois entendemos que ao invés de nos preocuparmos com isso, vamos se preocupar com as almas que estão perecendo, morrendo, se esfriando, etc..  Mas com todas essas mudanças, não deixamos de combater o pecado, a vaidade, a mentira, o engano, a luxúria, o adultério, ou seja, as obras da carne e coisas semelhantes.
    E graças a Deus, Ele nos deu a oportunidade de ampliar as visões e ver quão grandes coisas o Senhor tem preparado para nós, excluímos aquela visão velha, promíscua, pequena e a cada dia Deus tem nos dado uma nova direção, tudo segundo a vontade de Deus.
    Neste ano de 2012, onde completamos 22 anos de existência, entramos no Propósito do “Ano de Josafá” - O ano que Deus pelejará por nós... II Cr. 20:15.
    <p />
    <br />
    Sua principal é missão: Pregação, Oração e Libertação.
    Visão: Crescer, multiplicar e disseminar a Palavra de Deus Princípios, Valores e Ética

    <h4>Princípios:</h4>
    <p>-   Amar a Deus acima de todas as coisas</p>
    <p>-   Amar o teu próximo como ama a ti mesmo</p>
    <p>-   Respeitar todas as pessoas</p>
    <p>-   Honrar, valorizar, etc..</p>

    <h4>Congregações:</h4>
    <p>-   Bela Vista (SEDE)</p>
    <p>-   Recreio</p>
    <p>-   Maria Helena</p>
    <p>-   Guapirá/Jaçana</p>
    <p>-   Furnas</p>
    <p>-   Nova Galvão</p>
    <p>-   Bofete</p>
    <p>-   Sales</p>
    <p>-   Soberana</p>
</div>

{% endblock content %}