{% extends 'base.html' %}
{% block content %}

<form class="form-horizontal well" action="." method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <fieldset>
    {{ form.non_field_errors }}
    <!-- Form Name -->
    <legend style="text-align: center">Cadastro de Membro</legend>

    <!-- Text input-->
    <div class="control-group" >
      <label class="control-label">Nome</label>
      <div class="controls">
            {% if form.nome.value %}
                <input id="id_nome" type="text" class="input-xlarge" name="nome" required="" maxlength="100" style="width: 600px" value={{ form.nome.value }} />
            {% else %}
                <input id="id_nome" type="text" class="input-xlarge" name="nome" required="" pattern="[^0-9]+[a-zA-Z]" maxlength="100" style="width: 600px"/>
            {% endif %}
            {{ form.nome.errors }}
      </div>
    </div>

    <div class="control-group" >
      <label class="control-label">Foto</label>
      <div class="controls">
            {% if form.foto.value %}
                <input type = "submit" value= "Adicione Foto..." />
            {% else %}
                <input type = "submit" value= "Adicione Foto..." />
            {% endif %}
            {{ form.foto.errors }}
      </div>
    </div>

    <br />

    <!-- Select Basic -->
    <div class="control-group" >
      <label class="control-label">Sexo</label>
      <div class="controls">
          {{ form.sexo }}
          {{ form.sexo.errors }}
      </div>
    </div>

    <!-- Text input-->
    <div class="control-group" >
      <label class="control-label">Endereço</label>
      <div class="controls">
        {% if form.endereco.value %}
            <input id="id_endereco" name="endereco" placeholder="" class="input-xlarge" required="" type="text" style="width: 780px" value={{ form.endereco.value }} />
        {% else %}
            <input id="id_endereco" name="endereco" placeholder="" class="input-xlarge" required="" pattern="[^0-9]+[a-zA-Z]" type="text" style="width: 780px" />
        {% endif %}
        {{ form.endereco.errors }}
      </div>
    </div>

    <!-- Text input-->
    <div class="control-group" >
      <label class="control-label">Numero</label>
      <div class="controls">
        {% if form.numero.value %}
          <input id="id_numero" name="numero" placeholder="" class="input-xlarge" required="" type="text" style="width: 50px" value={{ form.numero.value }} />
        {% else %}
          <input id="id_numero" name="numero" placeholder="" class="input-xlarge" required="" pattern="[^a-zA-Z]*[0-9]" type="text" style="width: 50px"/>
        {% endif %}
        {{ form.numero.errors }}
      </div>
    </div>

    <!-- Text input-->
    <div class="control-group" >
      <label class="control-label">Bairro</label>
      <div class="controls">
          {% if form.bairro.value %}
            <input id="id_bairro" name="bairro" placeholder="" class="input-xlarge" required="" type="text" style="width: 200px" value={{ form.bairro.value }} />
          {% else %}
            <input id="id_bairro" name="bairro" placeholder="" class="input-xlarge" required="" pattern="[^0-9]+[a-zA-Z]" type="text" style="width: 200px" />
          {% endif %}
          {{ form.bairro.errors }}
      </div>
    </div>

    <!-- Text input-->
    <div class="control-group" >
      <label class="control-label">Cidade</label>
      <div class="controls">
        {% if form.cidade.value %}
          <input id="id_cidade" name="cidade" placeholder="" class="input-xlarge" required="" type="text" style="width: 200px" value={{ form.cidade.value }} />
        {% else %}
          <input id="id_cidade" name="cidade" placeholder="" class="input-xlarge" required="" pattern="[^0-9]+[a-zA-Z]" type="text" style="width: 200px" />
        {% endif %}

      </div>
    </div>

    <!-- Text input-->
    <div class="control-group" >
      <label class="control-label">UF</label>
  <div class="controls">
        {% if form.uf.value %}
          <input id="id_uf" name="uf" placeholder="" class="input-xlarge" required="" type="text" style="width: 60px" value={{ form.uf.value }} />
        {% else %}
          <input id="id_uf" name="uf" placeholder="" class="input-xlarge" required="" pattern="[^0-9][A-Z]{1}" type="text" style="width: 60px" />
        {% endif %}
        {{ form.uf.errors }}

      </div>
    </div>

    <!-- Text input-->
    <div class="control-group" >
      <label class="control-label">CEP</label>
      <div class="controls">
        {% if form.cep.value %}
          <input id="id_cep" name="cep" placeholder="" class="input-xlarge" required="" type="text" style="width: 80px" value={{ form.cep.value }} />
        {% else %}
          <input id="id_cep" name="cep" placeholder="" class="input-xlarge" required="" type="text" style="width: 80px" />
        {% endif %}
        {{ form.cep.errors }}

      </div>
    </div>

    <!-- Select Basic -->
    <div class="control-group" >
      <label class="control-label">Estado Civil</label>
      <div class="controls">
        {{ form.estadoCivil }}
        {{ form.estadoCivil.errors }}
      </div>
    </div>

    <!-- Text input-->
    <div class="control-group" >
      <label class="control-label">Telefone Residencial</label>
      <div class="controls">
        {% if form.telefone.value %}
          <input id="id_telefone" name="telefone" placeholder="" class="input-xlarge" required="" type="text" style="width: 120px" value={{ form.telefone.value }} />
        {% else %}
          <input id="id_telefone" name="telefone" placeholder="" class="input-xlarge" required="" type="text" style="width: 120px" />
        {% endif %}
        {{ form.telefone.errors }}

      </div>
    </div>

    <!-- Text input-->
    <div class="control-group" >
      <label class="control-label">Telefone Celular</label>
      <div class="controls">
        {% if form.celular.value %}
          <input id="id_celular" name="celular" placeholder="" class="input-xlarge" required="" type="text" style="width: 120px" value={{ form.celular.value }} />
        {% else %}
          <input id="id_celular" name="celular" placeholder="" class="input-xlarge" required="" type="text" style="width: 120px" />
        {% endif %}
        {{ form.celular.errors }}

      </div>
    </div>

    <!-- Text input-->
    <div class="control-group" >
      <label class="control-label">E-mail</label>
      <div class="controls">
        {% if form.email.value %}
          <input id="id_email" name="email" placeholder="" class="input-xlarge" required="" type="text" style="width: 350px" value={{ form.email.value }} />
        {% else %}
          <input id="id_email" name="email" placeholder="" class="input-xlarge" required="" type="text" style="width: 350px" />
        {% endif %}
        {{ form.email.errors }}

      </div>
    </div>

    <!-- Text input-->
    <div class="control-group" >
      <label class="control-label">Data Nascimento</label>
      <div class="controls">
        {% if form.dataNascimento.value %}
          <input id="id_dataNascimento" name="dataNascimento" placeholder="" class="date" required="" type="date" data-date-format="mm/dd/yyyy" style="width: 200px"value={{ form.dataNascimento.value }} />
        {% else %}
          <input id="id_dataNascimento" name="dataNascimento" placeholder="" class="date" required="" type="date" data-date-format="mm/dd/yyyy" style="width: 200px" />
        {% endif %}
        {{ form.dataNascimento.errors }}

      </div>
    </div>

    <!-- Text input-->
    <div class="control-group" >
      <label class="control-label">Natural De?</label>
      <div class="controls">
        {% if form.naturalDe.value %}
          <input id="id_naturalDe" name="naturalDe" placeholder="" class="input-xlarge" required="" type="text" style="width: 100px" value={{ form.naturalDe.value }} />
        {% else %}
          <input id="id_naturalDe" name="naturalDe" placeholder="" class="input-xlarge" required="" type="text" style="width: 100px" />
        {% endif %}
        {{ form.naturalDe.errors }}

      </div>
    </div>

    <!-- Text input-->
    <div class="control-group" >
      <label class="control-label">RG</label>
      <div class="controls">
        {% if form.rg.value %}
          <input id="id_rg" name="rg" placeholder="" class="input-xlarge" required="" type="text" style="width: 100px" value={{ form.rg.value }} />
        {% else %}
          <input id="id_rg" name="rg" placeholder="" class="input-xlarge" required="" type="text" style="width: 100px" />
        {% endif %}

      </div>
    </div>

    <!-- Text input-->
    <div class="control-group" >
      <label class="control-label">CPF</label>
      <div class="controls">
        {% if form.cpf.value %}
          <input id="id_cpf" name="cpf" placeholder="" class="input-xlarge" required="" type="text" style="width: 100px" value={{ form.cpf.value }} />
        {% else %}
          <input id="id_cpf" name="cpf" placeholder="" class="input-xlarge" required="" type="text" style="width: 100px" />
        {% endif %}
        {{ form.cpf.errors }}
      </div>
    </div>

    <!-- Text input-->
    <div class="control-group" >
      <label class="control-label">Titulo de Eleitor</label>
      <div class="controls">
        {% if form.tituloEleitor.value %}
          <input id="id_tituloEleitor" name="tituloEleitor" placeholder="" class="input-xlarge" required="" type="text" style="width: 100px" value={{ form.tituloEleitor.value }} />
        {% else %}
          <input id="id_tituloEleitor" name="tituloEleitor" placeholder="" class="input-xlarge" required="" type="text" style="width: 100px" />
        {% endif %}
        {{ form.tituloEleitor.errors }}

      </div>
    </div>

    <!-- Text input-->
    <div class="control-group" >
      <label class="control-label">Data Casamento</label>
      <div class="controls">
        {% if form.dataCasamento.value %}
          <input id="id_dataCasamento" name="dataCasamento" placeholder="" class="input-xlarge" type="date" style="width: 200px" value={{ form.dataCasamento.value }} />
        {% else %}
          <input id="id_dataCasamento" name="dataCasamento" placeholder="" class="input-xlarge" type="date" style="width: 200px" />
        {% endif %}
        {{ form.dataCasamento.errors }}

      </div>
    </div>

    <!-- Text input-->
    <div class="control-group" >
      <label class="control-label">Conjuge</label>
      <div class="controls">
        {% if form.conjuge.value %}
          <input id="id_conjuge" name="conjuge" placeholder="" class="input-xlarge" type="text" style="width: 600px" value={{ form.conjuge.value }} />
        {% else %}
          <input id="id_conjuge" name="conjuge" placeholder="" class="input-xlarge" type="text" style="width: 600px" />
        {% endif %}
        {{ form.conjuge.errors }}

      </div>
    </div>

    <!-- Text input-->
    <div class="control-group" >
      <label class="control-label">É Crente?</label>
      <div class="controls">
        {{ form.crente }}
        {{ form.crente.errors }}
      </div>
    </div>

    <br />
    <br />
    <br />

    <div class="control-group">
        <ul class="nav nav-tabs" id="myTab">
            <li><a href="#dadosEclesiasticos">Dados Eclesiásticos</a></li>
            <li><a href="#profile">Filiação</a></li>
            <li><a href="#messages">Preferência e Talentos para o Serviço</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="dadosEclesiasticos">
                <div class="controls">
                    <!-- Text input-->
                    <div class="control-group" >
                      <label class="control-label">Data Conversão</label>
                      <div class="controls">
                        {% if form.dataConversaoDE.value %}
                          <input id="id_dataConversaoDE" name="dataConversaoDE" placeholder="" class="input-xlarge" type="date" value={{ form.dataConversaoDE.value }} />
                        {% else %}
                          <input id="id_dataConversaoDE" name="dataConversaoDE" placeholder="" class="input-xlarge" type="date" />
                        {% endif %}
                        {{ form.dataConversaoDE.errors }}

                      </div>
                    </div>

                    <!-- Text input-->
                    <div class="control-group">
                      <label class="control-label">Igreja</label>
                      <div class="controls">
                        {% if form.igrejaDE.value %}
                          <input id="id_igrejaDE" name="igrejaDE" placeholder="" class="input-xlarge" type="text" value={{ form.igrejaDE.value }} />
                        {% else %}
                          <input id="id_igrejaDE" name="igrejaDE" placeholder="" class="input-xlarge" type="text" />
                        {% endif %}
                        {{ form.igrejaDE.errors }}

                      </div>
                    </div>

                    <!-- Text input-->
                    <div class="control-group" >
                      <label class="control-label">Org a que Pertence</label>
                      <div class="controls">
                        {% if form.orgpertenceDE.value %}
                          <input id="id_orgpertenceDE" name="orgpertenceDE" placeholder="" class="input-xlarge" type="text" value={{ form.orgpertenceDE.value }} />
                        {% else %}
                          <input id="id_orgpertenceDE" name="orgpertenceDE" placeholder="" class="input-xlarge" type="text" />
                        {% endif %}
                        {{ form.orgpertenceDE.errors }}

                      </div>
                    </div>

                    <!-- Text input-->
                    <div class="control-group">
                      <label class="control-label">Congregação</label>
                      <div class="controls">
                        {% if form.congregacaoDE.value %}
                          <input id="id_congregacaoDE" name="congregacaoDE" placeholder="" class="input-xlarge" type="text" value={{ form.congregacaoDE.value }} />
                        {% else %}
                          <input id="id_congregacaoDE" name="congregacaoDE" placeholder="" class="input-xlarge" type="text" />
                        {% endif %}
                        {{ form.congregacaoDE.errors }}

                      </div>
                    </div>

                    <!-- Text input-->
                    <div class="control-group" >
                      <label class="control-label">Data de Batismo</label>
                      <div class="controls">
                        {% if form.dataBatismoDE.value %}
                          <input id="id_dataBatismoDE" name="dataBatismoDE" placeholder="" class="input-xlarge" type="date" value={{ form.dataBatismoDE.value }} />
                        {% else %}
                          <input id="id_dataBatismoDE" name="dataBatismoDE" placeholder="" class="input-xlarge" type="date" />
                        {% endif %}
                        {{ form.dataBatismoDE.errors }}

                      </div>
                    </div>

                    <!-- Text input-->
                    <div class="control-group">
                      <label class="control-label">Igreja</label>
                      <div class="controls">
                        {% if form.igrejaDBatismoDE.value %}
                          <input id="id_igrejaDBatismoDE" name="igrejaDBatismoDE" placeholder="" class="input-xlarge" type="text" value={{ form.igrejaDBatismoDE.value }} />
                        {% else %}
                          <input id="id_igrejaDBatismoDE" name="igrejaDBatismoDE" placeholder="" class="input-xlarge" type="text" />
                        {% endif %}
                        {{ form.igrejaDBatismoDE.errors }}

                      </div>
                    </div>

                    <!-- Text input-->
                    <div class="control-group" >
                      <label class="control-label">Classe da EBD</label>
                      <div class="controls">
                        {% if form.classeEBDDE.value %}
                          <input id="id_classeEBDDE" name="classeEBDDE" placeholder="" class="input-xlarge" type="text" value={{ form.classeEBDDE.value }} />
                        {% else %}
                          <input id="id_classeEBDDE" name="classeEBDDE" placeholder="" class="input-xlarge" type="text" />
                        {% endif %}
                        {{ form.classeEBDDE.errors }}

                      </div>
                    </div>

                    <!-- Text input-->
                    <div class="control-group">
                      <label class="control-label">Cargos/Funções</label>
                      <div class="controls">
                        {% if form.cargosefuncoesDE.value %}
                          <input id="id_cargosefuncoesDE" name="cargosefuncoesDE" placeholder="" class="input-xlarge" type="text" value={{ form.cargosefuncoesDE.value }} />
                        {% else %}
                          <input id="id_cargosefuncoesDE" name="cargosefuncoesDE" placeholder="" class="input-xlarge" type="text" />
                        {% endif %}
                        {{ form.cargosefuncoesDE.errors }}

                      </div>
                    </div>

                    <!-- Text input-->
                    <div class="control-group" >
                      <label class="control-label">Recebido com carta? Data:</label>
                      <div class="controls">
                        {% if form.recebidoCartaDataDE.value %}
                          <input id="id_recebidoCartaDataDE" name="recebidoCartaDataDE" placeholder="" class="input-xlarge" type="date" value={{ form.recebidoCartaDataDE.value }} />
                        {% else %}
                          <input id="id_recebidoCartaDataDE" name="recebidoCartaDataDE" placeholder="" class="input-xlarge" type="date" />
                        {% endif %}
                        {{ form.recebidoCartaDataDE.errors }}

                      </div>
                    </div>

                    <!-- Text input-->
                    <div class="control-group">
                      <label class="control-label">Igreja de Origem</label>
                      <div class="controls">
                        {% if form.igrejaOrigemDE.value %}
                          <input id="id_igrejaOrigemDE" name="igrejaOrigemDE" placeholder="" class="input-xlarge" type="text" value={{ form.igrejaOrigemDE.value }} />
                        {% else %}
                          <input id="id_igrejaOrigemDE" name="igrejaOrigemDE" placeholder="" class="input-xlarge" type="text" />
                        {% endif %}
                        {{ form.igrejaOrigemDE.errors }}

                      </div>
                    </div>

                    <!-- Text input-->
                    <div class="control-group" >
                      <label class="control-label">Data de Saida:</label>
                      <div class="controls">
                        {% if form.dataSaida.value %}
                          <input id="id_dataSaida" name="dataSaida" placeholder="" class="input-xlarge" type="date" value={{ form.dataSaida.value }} />
                        {% else %}
                          <input id="id_dataSaida" name="dataSaida" placeholder="" class="input-xlarge" type="date" />
                        {% endif %}
                        {{ form.dataSaida.errors }}

                      </div>
                    </div>

                    <!-- Text input-->
                    <div class="control-group">
                      <label class="control-label">Modo:</label>
                      <div class="controls">
                        <input id="modo" name="modo" placeholder="" class="input-xlarge" type="text" />

                      </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="profile">
                <!-- Text input-->
                <div class="control-group">
                  <label class="control-label">Nome do Pai</label>
                  <div class="controls">
                    {% if form.nomePai.value %}
                      <input id="id_nomePai" name="nomePai" placeholder="" class="input-xlarge" type="text" style="width: 800px" value={{ form.nomePai.value }} />
                    {% else %}
                      <input id="id_nomePai" name="nomePai" placeholder="" class="input-xlarge" type="text" style="width: 800px" />
                    {% endif %}
                    {{ form.nomePai.errors }}

                  </div>
                </div>

                <!-- Text input-->
                <div class="control-group">
                  <label class="control-label">Nome da Mãe</label>
                  <div class="controls">
                    {% if form.nomeMae.value %}
                      <input id="id_nomeMae" name="nomeMae" placeholder="" class="input-xlarge" type="text" style="width: 800px" value={{ form.nomeMae.value }} />
                    {% else %}
                      <input id="id_nomeMae" name="nomeMae" placeholder="" class="input-xlarge" type="text" style="width: 800px" />
                    {% endif %}
                    {{ form.nomeMae.errors }}

                  </div>
                </div>
            </div>
            <div class="tab-pane" id="messages">
                <!-- Text input-->
                    <div class="control-group" >
                      <label class="control-label">Área</label>
                      <div class="controls">
                        {% if form.area1PTS.value %}
                          <input id="id_area1PTS" name="area1PTS" placeholder="" class="input-xlarge" type="text" style="width: 400px" value={{ form.area1PTS.value }} />
                        {% else %}
                          <input id="id_area1PTS" name="area1PTS" placeholder="" class="input-xlarge" type="text" style="width: 400px" />
                        {% endif %}
                        {{ form.area1PTS.errors }}

                      </div>
                    </div>

                    <!-- Text input-->
                    <div class="control-group">
                      <label class="control-label">Função</label>
                      <div class="controls">
                        {% if form.funcao1PTS.value %}
                          <input id="id_funcao1PTS" name="funcao1PTS" placeholder="" class="input-xlarge" type="text" style="width: 400px" value={{ form.funcao1PTS.value }} />
                        {% else %}
                          <input id="id_funcao1PTS" name="funcao1PTS" placeholder="" class="input-xlarge" type="text" style="width: 400px" />
                        {% endif %}
                        {{ form.funcao1PTS.errors }}

                      </div>
                    </div>

                    <!-- Text input-->
                    <div class="control-group" >
                      <label class="control-label">Área</label>
                      <div class="controls">
                        {% if form.area2PTS.value %}
                          <input id="id_area2PTS" name="area2PTS" placeholder="" class="input-xlarge" type="text" style="width: 400px" value={{ form.area2PTS.value }} />
                        {% else %}
                          <input id="id_area2PTS" name="area2PTS" placeholder="" class="input-xlarge" type="text" style="width: 400px" />
                        {% endif %}
                        {{ form.area2PTS.errors }}

                      </div>
                    </div>

                    <!-- Text input-->
                    <div class="control-group">
                      <label class="control-label">Função</label>
                      <div class="controls">
                        {% if form.funcao2PTS.value %}
                          <input id="id_funcao2PTS" name="funcao2PTS" placeholder="" class="input-xlarge" type="text" style="width: 400px" value={{ form.funcao2PTS.value }} />
                        {% else %}
                          <input id="id_funcao2PTS" name="funcao2PTS" placeholder="" class="input-xlarge" type="text" style="width: 400px" />
                        {% endif %}
                        {{ form.funcao2PTS.errors }}

                      </div>
                    </div>

                    <!-- Text input-->
                    <div class="control-group" >
                      <label class="control-label">Área</label>
                      <div class="controls">
                        {% if form.area3PTS.value %}
                          <input id="id_area3PTS" name="area3PTS" placeholder="" class="input-xlarge" type="text" style="width: 400px" value={{ form.area3PTS.value }} />
                        {% else %}
                          <input id="id_area3PTS" name="area3PTS" placeholder="" class="input-xlarge" type="text" style="width: 400px" />
                        {% endif %}
                        {{ form.area3PTS.errors }}

                      </div>
                    </div>

                    <!-- Text input-->
                    <div class="control-group">
                      <label class="control-label">Função</label>
                      <div class="controls">
                        {% if form.funcao3PTS.value %}
                          <input id="id_funcao3PTS" name="funcao3PTS" placeholder="" class="input-xlarge" type="text" style="width: 400px" value={{ form.funcao3PTS.value }} />
                        {% else %}
                          <input id="id_funcao3PTS" name="funcao3PTS" placeholder="" class="input-xlarge" type="text" style="width: 400px" />
                        {% endif %}
                        {{ form.funcao3PTS.errors }}

                      </div>
                    </div>

                    <!-- Text input-->
                    <div class="control-group" >
                      <label class="control-label">Área</label>
                      <div class="controls">
                        {% if form.area4PTS.value %}
                          <input id="id_area4PTS" name="area4PTS" placeholder="" class="input-xlarge" type="text" style="width: 400px" value={{ form.area4PTS.value }} />
                        {% else %}
                          <input id="id_area4PTS" name="area4PTS" placeholder="" class="input-xlarge" type="text" style="width: 400px" />
                        {% endif %}
                        {{ form.area4PTS.errors }}

                      </div>
                    </div>

                    <!-- Text input-->
                    <div class="control-group">
                      <label class="control-label">Função</label>
                      <div class="controls">
                        {% if form.funcao4PTS.value %}
                          <input id="id_funcao4PTS" name="funcao4PTS" placeholder="" class="input-xlarge" type="text" style="width: 400px" value={{ form.funcao4PTS.value }} />
                        {% else %}
                          <input id="id_funcao4PTS" name="funcao4PTS" placeholder="" class="input-xlarge" type="text" style="width: 400px" />
                        {% endif %}
                        {{ form.funcao4PTS.errors }}

                      </div>
                    </div>
            </div>
        </div>

        <script>
            $('#myTab a').click(function (e) {
                e.preventDefault();
                $(this).tab('show');
            })
        </script>

    </div>

    <!-- Button -->
    <input type="submit" value="Cadastrar" class="btn btn-primary" />
    <a href="/" class="btn">Cancelar</a>

    </fieldset>

</form>


{% endblock content %}