{% extends 'base.html' %}
{% block content %}
<form class="form-horizontal well" action="." method="POST">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <fieldset>
        <legend>Formulário de Cadastro</legend>
        <div class="control-group">
            <label class="control-label" for="{{ form.name.id_for_label }}">{{ form.name.label }}:</label>
            <div class="controls">
                {{ form.name }}
                {{ form.name.errors }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="{{ form.sexo.id_for_label }}">{{ form.sexo.label }}:</label>
            <div class="controls">
                {{ form.sexo }}
                {{ form.sexo.errors }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="{{ form.endereco.id_for_label }}">{{ form.endereco.label }}:</label>
            <div class="controls">
                {{ form.endereco }}
                {{ form.endereco.errors }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="{{ form.numero.id_for_label }}">{{ form.numero.label }}:</label>
            <div class="controls">
                {{ form.numero }}
                {{ form.numero.errors }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="{{ form.bairro.id_for_label }}">{{ form.bairro.label }}:</label>
            <div class="controls">
                {{ form.bairro }}
                {{ form.bairro.errors }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="{{ form.cidade.id_for_label }}">{{ form.cidade.label }}: </label>
            <div class="controls">
                {{ form.cidade }}
                {{ form.cidade.errors }}
            </div>

            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </div>
    </fieldset>
</form>
{% endblock content %}